.app-header {
  height: 60px;
  background-color: rgb(16, 47, 73);
  color: white;
  text-align: center;
  display: flex;
  justify-content: flex-start;
}

.headNav {
  margin-left: 4px;
  font-family: "Roboto", sans-serif;
}

.logo {
  padding-left: 10px;
}
